#vote_list_container
  #vote_table
    %table{:id => "vote_list"}
      %tbody
        %tr{ :class => 'vote_table_header' }
          %th Numero
          %th Voto
          %th to_words
        - for vote in @votes
          %tr{:class => "voto_#{vote[:vote]}", :id => "n_#{vote[:number]}"}
            %td.number= vote[:number]
            %td.vote= vote[:vote]
            %td.to_words= vote[:number].to_i.to_words

